__pycache__
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache
.coverage
.git
.gitignore
README.md
Dockerfile
.dockerignore
*.log
*.sqlite
.env
.venv
venv/
env/
.pyre
.mypy_cache
node_modules/
frontend/
.history/
.vscode/
.idea/
*.swp
*.swo
.DS_Store